<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    亲爱的{{ user.blog_name }}:<br/>
    如果您忘记了密码请点击如下链接，修改您的密码： <br/>
    <a href="{{ host }}/findpwd/?urlkey={{ url }}">{{ host }}/findpwd/?urlkey={{ url }}</a><br/>
    如果上面的链接无法点击，请把以上链接地址复制到浏览器地址栏。<br/>

    为保障你账号的安全性，以上链接有效期为3 天。<br/>

    ------------------------------------------------------------------------------------------<br/>

    此邮件为系统所发，请勿直接回复。<br/>
    <a href="http://www.baiwenzhi.com">www.baiwenzhi.com</a>
</body>
</html>