<div id="search">
    <form>
        <input type="hidden" ng-model="keywords">
        <input type="text" ng-model="words">
        <input class="button" type="submit" ng-click="search()" value="Search">
    </form>
</div>
<div class="blogs">
    <div class="blog"  ng-repeat="blog in blogs|filter:{title:keywords}">
        <div class="blog_title">
            <div class="pre-cat">
                <div class="pre-catinner pre_btn">
                    <a ng-href="/category/{{ blog.category.id }}">{{ blog.category.name }}</a>
                </div>
                <div class="pre-catarrow">
                </div>
            </div>

            <a ng-href="#/blog/{{ blog.name }}" >
                <h2>{{ blog.title }}</h2>
            </a>

        </div>
        <div class="info">
            <span><i class="fa fa-calendar"></i>&nbsp;{{ blog.create_time|date:'yyyy-MM-dd' }}</span>
            <span><i class="fa fa-mouse-pointer"></i>&nbsp;{{ blog.visit_count }}</span>
            <span><i class="fa fa-comment-o"></i>&nbsp;{{ blog.comment_count }}</span>
            <span class="label" ng-repeat="each_tag in blog.tag"><a ng-href="#/tag/{{ each_tag.id }}">{{ each_tag.name }}</a></span>
        </div>

        <div class="content" ng-bind-html="blog.summary">
        </div>
        <div class="right_a">
            <a ng-href="#/blog/{{ blog.name }}" class="btn_red">阅读全文</a>
        </div>
    </div>
    <div ng-if="(blogs|filter:{title:keywords}).length==0&&loadingend" class="blog">
        <h2>暂无内容</h2>
    </div>
    <div class="pagination">
        <ul>
            <li ng-if="previous!=null"><a ng-click="goto(previous)">上一页</a></li>

            <li ng-if="next!=null"><a ng-click="goto(next)">下一页</a></li>
        </ul>
    </div>
</div>

<div class="loading" >


</div>


