{% extends 'base/base.html' %}
{% load mobiletag %}
{% block title %}
    {{ blog.title }}|
{% endblock %}
{% block right-content %}
    <div class="blog_content">
        <div class="blog_h">
            <div class="blog_title">
                <div class="pre-cat">
                    <div class="pre-catinner pre_btn">
                        <a href="/category/{{ blog.category_id }}">{{ blog.category.name }}</a>
                    </div>
                    <div class="pre-catarrow">
                    </div>
                </div>
                <h2>{{ blog.title }}</h2>
            </div>
            <div class="info">
                <span><i class="fa fa-calendar">时间</i>&nbsp;{{ blog.create_time|date:'Y-m-d' }}</span>
                <span><i class="fa fa-mouse-pointer">浏览</i>&nbsp;{{ blog.visit_count }}</span>
                <span><i class="fa fa-comment-o">评论</i>&nbsp;{{ blog.comment_count }}</span>
                {% for tag in blog.tag.all %}
                <span class="label"><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></span>
                {% endfor %}
            </div>
            <div>
                {{ blog.content|safe }}
            </div>

        </div>
        <div style="padding: 20px 0">
            本文链接:<a href="{{ LOCAL_HOST }}/blog/{{ blog.name }}" target="_blank">{{ LOCAL_HOST }}/blog/{{ blog.name }}</a>
        </div>
        <div id="qcode">

        </div>
{#        {% if comments %}#}
{#        <div class="comment_title">#}
{#            评论#}
{#        </div>#}
{#        {% endif %}#}
{#        <div class="comments">#}
{#            {% for comment in comments %}#}
{#                <div class="comment">#}
{#                    <div class="c_logo"><img src="{% if comment.user %}{{ MEDIA_URL }}{{ comment.user.logo|default_if_none:'' }}{% else %}/static/image/headlogo.jpg{% endif %}" alt="头像"/></div>#}
{#                    <div class="c_right">#}
{#                        <div class="c_bar info">#}
{#                            <a href="{{ comment.web_url|default_if_none:'' }}" target="_blank">{{ comment.name }}</a><br/>#}
{#                            <span>{{ comment.create_time|date:'Y-m-d H:i:s' }}</span>#}
{#                            <a  onclick="t_comment('{{ comment.id }}','{{ comment.name }}')">回复</a>#}
{#                        </div>#}
{#                        <p>#}
{#                            {{ comment.content|safe }}#}
{#                        </p>#}
{#                        {% get_child_comment comment %}#}
{#                        {% if child_comments %}#}
{#                            {% for c_comment in child_comments %}#}
{#                                <div class="comment">#}
{#                                    <div class="c_logo"><img src="{% if c_comment.user %}{{ MEDIA_URL }}{{ c_comment.user.logo|default_if_none:'' }}{% else %}/static/image/headlogo.jpg{% endif %}" alt="头像"/></div>#}
{#                                    <div class="c_right">#}
{#                                        <div class="c_bar info">#}
{#                                            <a href="{{ c_comment.web_url|default_if_none:'' }}"    target="_blank">{{ c_comment.name }}</a><br/>#}
{#                                            <span>{{ c_comment.create_time|date:'Y-m-d H:i:s' }}</span>#}
{#                                            <a  onclick="t_comment('{{ comment.id }}','{{ c_comment.name }}')">回复</a>#}
{#                                        </div>#}
{#                                        <p>#}
{#                                            {{ c_comment.content|safe }}#}
{#                                        </p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            {% empty %}#}
{#                暂无评论#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{#        <div class="add_comment" id="add_comment">#}
{#            <div class="title_box">#}
{#                添加评论#}
{#            </div>#}
{#            <input type="hidden" id="blog_name" value="{{ blog.name }}"/>#}
{#            {% if not request.user.is_authenticated %}#}
{#                <p>您正在以游客身份访问</p>#}
{#            {% else %}#}
{#                <p>登陆用户：{{ request.user.blog_name }}</p>#}
{#            {% endif %}#}
{#            <p class="replay_p" id="replay_p">#}
{#                <input type="hidden" name="parent_id" id="parent_id" value=""/>#}
{#                @<span></span>&nbsp;&nbsp;&nbsp;<a onclick="cancle_replay()">取消回复</a>#}
{#            </p>#}
{#            {% if not request.user.is_authenticated %}#}
{#                <p>#}
{#                    <input class="c_input" type="text" name="nickname" placeholder="昵称"/>#}
{#                </p>#}
{#                <p>#}
{#                    <input class="c_input" type="text" name="url" placeholder="您的网站"/>#}
{#                </p>#}
{#            {% else %}#}
{#                <input type="hidden" name="nickname" value="{{ request.user.blog_name }}"/>#}
{#                <input type="hidden" name="url" value="{{ LOCAL_HOST }}/homepage/{{ request.user.name }}"/>#}
{#            {% endif %}#}
{#            <div class="Input_Box">#}
{#              <textarea class="Input_text"name="content"></textarea>#}
{#              <div class="faceDiv face"> </div>#}
{#              <div class="Input_Foot">#}
{#                  <a class="imgBtn" href="javascript:void(0);"></a><a class="postBtn" onclick="sub_comment()">确定</a>#}
{#              </div>#}
{#            </div>#}
{#        </div>#}
        <div class="ds-thread" data-thread-key="{{ blog.id }}" data-title="{{ blog.title }}" data-url="{{ LOCAL_HOST }}/blog/{{ blog.name }}"></div>

    </div>

{% endblock %}

{% block js-content %}
  

    <script type="text/javascript" src="/static/js/faceinput.js"></script>
    <script type="text/javascript" src="/static/js/jquerycode.js"></script>
    <script type="text/javascript">
        $("#qcode").qrcode({width: 64,height: 64,text: "{{ LOCAL_HOST }}/blog/{{ blog.name }}"});
        //为了在编辑器之外能展示高亮代码
        SyntaxHighlighter.highlight();
        //调整左右对齐

    </script>
    <script type="text/javascript">
var duoshuoQuery = {short_name:"baiwenzhi"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
