<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
   
    <title>bwz's blog</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <style>
        body{
            background: #383A3C url("{{ img }}") no-repeat 0 0/cover;
            color:#fff;
        }

    </style>
</head>
<body>
    <div id="error_show" class="error_hide">
        <span></span>
        <a href="javascript:void(0)" class="cd-popup-close img-replace">close</a>
    </div>
    <div class="center_content">
        <div class="title">
            修改密码
        </div>
        <div class="content_lg">

                <div class="input_div">
                    <input class="input_block" type="password" id="password" autocomplete="off" placeholder="新密码"/>
                </div>

            <div class="input_div">
                <input class="input_btn" style="margin: 0 auto;width: 100%;" type="button" value="提交"  onclick="changepwd()">
            </div>
            <div class="input_div" style="text-align: right;">
                <a href="/login/">返回登陆</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>
    <script>

         function changepwd () {
                var password=$.trim($('#password').val());
                if(password==''){
                    show_error("密码不能为空")
                    return
                }
             show_tip('提交新密码')
                $.post('/change_pwd/',{
                    csrfmiddlewaretoken:'{{ csrf_token }}',
                    urlkey:'{{ ams.url }}',
                    password:password
                },function(data){
                    if(data['is_succ']){

                        window.location.href='/login/'
                    }else{
                        show_error(data['msg'])
                    }
                })

           }
    </script>
</body>
</html>