<div class="title_box">
    博客列表
</div>
{% if recList %}
    <select name="category" onchange="choose_by_category(this)">
        <option value="">全部</option>
        {% for category in request.session.categorys %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <table>
        <thead>
        <tr>
            <th>名称</th>
            <th>分类</th>
            <th>浏览</th>
            <th>评论</th>
            <th>创建时间</th>
            <th>推荐</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in recList %}
            <tr class="blog_item c_{{ blog.category_id }}">
                <td><a href="/blog/{{ blog.name }}" target="_blank">{{ blog.title }}</a></td>
                <td>{{ blog.category_name }}</td>
                <td>{{ blog.visit_count }}</td>
                <td>{{ blog.comment_count }}</td>
                <td>{{ blog.create_time|date:'Y-m-d H:i:s' }}</td>
                <td>
                    {% if blog.fav %}
                        <a fav="0" onclick="fav_blog(this,'{{ blog.id }}')" style="color:red;">取消推荐</a>
                    {% else %}
                        <a fav="1" onclick="fav_blog(this,'{{ blog.id }}')">设为推荐</a>
                    {% endif %}
                </td>
                <td>
                    <a href='javascript:void(0)' onclick="bind_dialog_yes(delete_blog,'你确定删除此博客吗？删除后将无法访问！',this,{{ blog.id }})">删除</a>
                    <a href='javascript:void(0)'
                       onclick="load_right('/usercenter/write_blog/',{blog_id:'{{ blog.id }}'})">编辑</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    请先添加博客
{% endif %}
{% include 'center_content/bottom_ajax.html' %}
<div class="title_box">
    写博客
</div>
<a href='javascript:void(0)' onclick="load_right('/usercenter/write_blog/')" class="btn">写博客</a>

