    <div class="title_box">
        评论列表
    </div>
    {% if recList %}
    <table>
        <thead>
            <tr>
                <th>昵称</th>
                <th>网址</th>
                <th>发表时间</th>
                <th>评论</th>
                <th>博客</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in recList %}
                <tr>
                    <td>{{ comment.name }}</td>
                    <td><a href="{{ comment.url }}" target="_blank">{{ comment.url }}</a></td>
                    <td>{{ comment.create_time|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ comment.content|safe }}</td>
                    <td><a href="#/blog/{{ comment.blog.name }}" target="_blank">{{ comment.blog.title }}</a></td>
                    <td>
                        <a  href='javascript:void(0)' onclick="bind_dialog_yes(delete_comment,'你确定删除此评论吗？删除后此评论下的回复将无法显示！',this,{{ comment.id }})">删除</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
        暂无评论
    {% endif %}
    {% include 'center_content/bottom_ajax.html' %}
